human-detection/output
examples/results
predict/models
PoseFlow/__pycache__
PoseFlow/*.npy
PoseFlow/alpha-pose-results-test.json
PoseFlow/alpha-pose-results-val.json
PoseFlow/test-predict
PoseFlow/val-predict
CUB-200-2011
Cars
Stanford-Cars
Stanford-Dogs
FGVC-Aircraft
NABirds
102Flowers
results/
img_result/
pbs/
*.jpg
*.h5
*.npy
*.so
*.pyc
.ipynb_checkpoints
*/.ipynb_checkpoints/*
data/
*.json
*.txt
*.tar
*.pth
*.png
*.swp
*.log
